<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{  10+20+20 +' '+ title }} by {{name}}!    <!-- Interpolation  {{}}-->
    </h1>
    <p>{{getname()}}</p>
    <img width="300" alt="Angular Logo" [src]="imagePath">
    <employee></employee>
    <button bind-disabled="isDisabled"> Click Me</button>
    <div [innerHtml]="badHtml"></div>
    <input type="text" id="don" value="DON" />
    <p>HTML Attribute</p>
    
    <p>DOM </p>

</div>
